@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* brand font */
.lobster-regular {
    font-family: "Lobster", serif;
    font-weight: 400;
    font-style: normal;
}

body {
    overflow-x: hidden;
}